@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

/* custome varian */
@custom-variant dark (&:where(.dark, .dark *));

/* theme */
@theme {
  --color-primary: #5044e5;
}

/* global style */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor:none;
}